@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Nunito:wght@200;400;500;800&display=swap');

$font-logo: "Francois One", sans-serif;
$font-body: "Nunito", sans-serif;

$color-primary: #3a4166;
$color-secondary: #1cb9f1;
$color-background: #fefdf7;
$color-footer: #fffcdd;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-primary;
    background-color: $color-background;
}

a:link, 
a:visited {
    text-decoration: none;
}