
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-logo;
}

.logo {
    font-family: $font-logo;
    font-size: 60px;
}

.button {
    display: block;
    font-family: $font-head;
    border: solid 1px $color-primary;
    width: 100px;
    height: 100%;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
}
