header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-footer;
    font-size: 40px;
    margin: auto;
    a {
        padding: 10px 10px;
        margin: 10px;
        background-color: $color-footer;
    }
}