@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Nunito:wght@800&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #3a4166;
  background-color: #fefdf7;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Francois One", sans-serif;
}

.logo {
  font-family: "Francois One", sans-serif;
  font-size: 60px;
  justify-content: flex-start;
}

.button-nav {
  display: block;
  font-family: "Nunito", sans-serif;
  border: solid 1px #3a4166;
  width: 100px;
  height: 100%;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
}

.button-main {
  display: block;
  background-color: #3a4166;
  color: #fefdf7;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  width: 300px;
  border-radius: 5px;
  height: 70px;
  padding: 15px 10px;
  margin: 40px 40px;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
}
header h2 {
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  color: #1cb9f1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
  text-align: center;
}
section div {
  padding: 20px;
}
section div:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}
section div:nth-child(2) {
  font-size: 30px;
  color: #1cb9f1;
}
section div:nth-child(3) {
  font-size: 22px;
  font-weight: lighter;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffcdd;
  font-size: 40px;
  margin: auto;
}
footer a {
  padding: 10px 10px;
  margin: 10px;
  background-color: #fffcdd;
}