@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Nunito:wght@200;400;500;800&display=swap');

$font-logo: "Francois One", sans-serif;
$font-body: "Nunito", sans-serif;

$color-primary: #3a4166;
$color-secondary: #1cb9f1;
$color-background: #fefdf7;
$color-footer: #fffcdd;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-primary;
    background-color: $color-background;
}

a:link, 
a:visited {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-logo;
    margin: 10px;
    a {
        width: 100%;
        justify-content: space-between;
        margin: 5px;
    }
}

.logo {
    font-family: $font-logo;
    font-size: 40px;
    justify-content: flex-start;
}

.button-nav {
    display: block;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border: solid 2px $color-primary;
    width: 150px;
    height: 100%;
    border-radius: 5px;
    padding: 10px 20px;
}

.button-main {
    display: block;
    background-color: $color-primary;
    color: $color-background;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    height: 55px;
    padding: 15px 50px;
    margin: 30px;
}

.container {
    text-align:center;
    width: 100%;
    padding: 5px 10px;
    font-weight: 400;
    div p {
        width: 60%;
        justify-content: center;
        text-align: left;
        font-size: 15px;
    }

    div img {
        width: 35%;
        align-items: center;
    }
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

span {
    font-weight: 600;
}

i {
    font-weight: 200;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 5px;
    h2 {
        font-size: 30px;
        padding: 10px 20px;
        color: $color-secondary;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    text-align: center;

    div {
        padding: 10px;
    }


    div:nth-child(2) {
        font-size: 18px;
        font-weight: bold;
    }
    
    div:nth-child(3) {
        font-size: 18px;
        p {
            color: $color-secondary;
        }
    }
    
    div:nth-child(4) {
        font-size: 14px;
        font-weight:lighter;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-footer;
    font-size: 20px;
    margin: auto;
    a {
        padding: 5px 5px;
        margin: 10px;
        background-color: $color-footer;
    }
}