@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Nunito+Sans&family=Nunito:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: #3a4166;
  background-color: #fefdf7;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Francois One", sans-serif;
  margin: 10px;
}
nav a {
  width: 100%;
  justify-content: space-between;
  margin: 5px;
}

.logo {
  font-family: "Francois One", sans-serif;
  font-size: 40px;
  justify-content: flex-start;
}

.button-nav {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  text-align: center;
  border: solid 2px #3a4166;
  width: 150px;
  height: 100%;
  border-radius: 5px;
  padding: 10px 20px;
}

.button-main {
  display: block;
  background-color: #3a4166;
  color: #fefdf7;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  height: 55px;
  padding: 15px 50px;
  margin-bottom: 40px;
}

.penguin-display {
  text-align: center;
}

span {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 5px;
}
header h2 {
  font-size: 30px;
  padding: 10px 20px;
  font-family: "Nunito", sans-serif;
  color: #1cb9f1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  text-align: center;
}
section div {
  padding: 10px;
}
section div:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
}
section div:nth-child(3) {
  font-size: 18px;
}
section div:nth-child(3) p {
  color: #1cb9f1;
}
section div:nth-child(4) {
  font-size: 14px;
  font-weight: lighter;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffcdd;
  font-size: 20px;
  margin: auto;
}
footer a {
  padding: 5px 5px;
  margin: 10px;
  background-color: #fffcdd;
}