@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Nunito:wght@800&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #3a4166;
  background-color: #fefdf7;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Francois One", sans-serif;
}

.logo {
  font-family: "Francois One", sans-serif;
  font-size: 60px;
}

.button {
  display: block;
  font-family: "Nunito", sans-serif;
  border: solid 1px #3a4166;
  width: 100px;
  height: 100%;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffcdd;
}